/* Base Styles */
body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light mode background */
    color: #665b52; /* Light mode text color */
}

.sidebar {
    width: 201px;
    background-color: #667C3E; /* Light mode sidebar background */
    position: fixed;
    height: 100%;
    padding-top: 20px;
    border-right: 1px solid white;
}

.sidebar p {
    color: white;
    text-align: left;
    margin: 10px 0px 30px 20px;
    font-family: 'Jomhuria', cursive;
    font-size: 40px;
}

.sidebar a {    
    padding: 10px 18px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar a:hover {
    background-color: #7F9973;
}

.sidebar img {
    margin-right: 10px;
    width: 25px;
    height: 24px;
}

.menu-item {
    width: 100%;
    padding: 6px 20px;
    margin-bottom: 10px;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-item:hover,
.menu-item.active {
    background-color: #404D28;
}

.menu-item img {
    width: 24px;
    height: 24px;
}

.content {
    flex-grow: 1;
    background-color: #f5f5f5; /* Light mode content background */
    padding: 20px;
}

.content h2 {
    margin-left: 15%;
    margin-bottom: 0;
    font-size: 30px;
    color: #665b52;
}

.settings-group {
    margin-left: 17%;
    margin-bottom: 20px;
}

.settings-group h3 {
    font-size: 20px;
    color: #665b52;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.settings-item label {
    font-size: 16px;
    color: #665b52;
}

.settings-item input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #66723b;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.settings-item input[type="checkbox"]:checked {
    background-color: #66723b;
}

.settings-item input[type="checkbox"]:checked::before {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
}

.logout {
    color: #A83232;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    margin-top: 220px;
    margin-right: 10px;
}

.logout a {
    color: #A83232;
}

.logout:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 12px;
    font-size: 12px;
    width: 13%;
    color: #404D28;
    display: flex;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer .username-container {
    background-color: rgba(255, 255, 255, 1.0);
    padding: 5px 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #667C3E;
    width: 100%; 
}

.footer .username-container img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.footer .username-container:hover {
    background-color:#404D28; 
    color: white;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212; /* Dark mode background */
    color: #e0e0e0; /* Dark mode text color */
}

body.dark-mode .sidebar {
    background-color: #1e1e1e; /* Dark mode sidebar background */
}
body.dark-mode .sidebar p {
    color: #66723b;

}
body.dark-mode .sidebar a {
    color: #ffffff; /* Dark mode link color */
}

body.dark-mode .sidebar a:hover {
    background-color: #333333; /* Dark mode link hover color */
}

body.dark-mode .content {
    background-color: #1e1e1e; /* Dark mode content background */
}

body.dark-mode .content h2 {
    color: #66723b; /* Dark mode heading color */
}

body.dark-mode .settings-group h3 {
    color: #667C3E; /* Dark mode section heading color */
}

body.dark-mode .settings-item label {
    color: #e0e0e0; /* Dark mode label color */
}

body.dark-mode .menu-item {
    color: #e0e0e0; /* Dark mode menu item color */
}

body.dark-mode .menu-item:hover,
body.dark-mode .menu-item.active {
    background-color: #333333; /* Dark mode menu item hover color */
}

body.dark-mode .settings-item input[type="checkbox"] {
    border: 2px solid #333333;
}

body.dark-mode .settings-item input[type="checkbox"]:checked {
    background-color: #333333;
}

body.dark-mode .logout {
    color: #ffffff; /* Dark mode logout color */
}

body.dark-mode .footer {
    color: #b0b0b0; /* Dark mode footer color */
}

body.dark-mode .footer a {
    color: #b0b0b0; /* Dark mode footer link color */
}

body.dark-mode .footer .username-container {
    background-color: #333333; /* Dark mode footer container background */
    color: #e0e0e0; /* Dark mode footer container text color */
}

body.dark-mode .footer .username-container:hover {
    background-color: #ffffff;
}



/* Responsive Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .sidebar {
        width: 180px;
        padding-top: 15px;
    }

    .sidebar p {
        font-size: 36px;
        margin: 10px 0px 20px 15px;
    }

    .sidebar a {
        padding: 9px 15px;
        font-size: 15px;
        margin-left: 0%;
    }

    .menu-item {
        font-size: 14px;
        padding: 8px 15px;
    }

    .content {
        padding: 15px;
    }

    .content h2 {
        margin-left: 28%;
        font-size: 28px;
    }

    .settings-group {
        margin-left: 35%;
    }

    .settings-group h3 {
        font-size: 18px;
    }

    .logout {
        font-size: 18px;
        margin-top: 180px;
    }

    .footer {
        width: 10%;
        font-size: 14px;
        bottom: 5px;
    }
    .footer .username-container {
        width: 140%;
      
    }
}


@media only screen and (max-width: 600px) {
    .sidebar {
        width: 35%;
        height: auto;
        position: relative;
    }

    .sidebar p {
        color: white;
        text-align: left;
        margin: 10px 0px 10px 10px;
        font-family: 'Jomhuria', cursive;
        font-size: 30px; /* Adjusted font size for mobile */
    }

    .sidebar a {    
        padding: 8px 10px;
        text-decoration: none;
        font-size: 14px; /* Adjusted font size for mobile */
        color: white;
        display: flex;
        align-items: center;
    }

    .menu-item {
        font-size: 14px;
        padding: 8px 10px;
    }

    .content {
        padding: 10px;
    }

    .content h2 {
        margin-left: 0;
        font-size: 24px;
        text-align: center;
    }

    .settings-group {
        margin-left: 0;
    }

    .settings-group h3 {
        font-size: 18px;
    }

    .settings-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .settings-item label {
        font-size: 14px;
    }

    .settings-item input[type="checkbox"] {
        margin-top: 5px;
    }

    .logout {
        font-size: 18px;
        margin-top: 20px;
        text-align: center;
    
    }

    .footer {
        width: 100%;
        font-size: 12px;
        bottom: 5px;
        left: 0;
        justify-content: center;
    }

    .footer .username-container {
        width: auto;
        margin: 0 auto;
        padding: 11px 16px;
    }

    .footer .username-container {
        margin-left: 4px;
        width: 23%;
        font-size: 11px;
        padding: 6px 15px;
       
    }

    .footer .username-container img {
        margin-right: 6px;
        margin-left: -5px;
        width: 20px;
        height: 20px; 

    }

}